<div class="slider">
  <div class="slides" ng-style="{'transform': 'translateX(-' + home.currentSlide * 100 + '%)'}">
    <div class="slide" ng-repeat="slide in home.slides" ng-style="{'background-image': 'url(' + slide.url + ')'}"></div>
  </div>

  <div class="arrow left-arrow" ng-click="home.prevSlide()">❮</div>
  <div class="arrow right-arrow" ng-click="home.nextSlide()">❯</div>

  <div class="dots">
    <span class="dot" ng-repeat="slide in home.slides" ng-click="home.setCurrentSlide($index)" ng-class="{'active': home.isActive($index)}"> </span>
  </div>
</div>

<div class="recently-posted">
  <h2>Outfit Of The Day</h2>
</div>

<div class="recently-posted">
  <div id="recently-posted" class="image-grid">
    <img ng-repeat="outfit in home.outfits" ng-src="{{outfit.url}}" alt="{{outfit.alt}}" loading="lazy" ng-click="home.openModal(outfit)" />
  </div>
</div>

<div id="imageModal" class="modal" ng-show="home.modalOpen">
  <span class="close" ng-click="home.closeModal()">x</span>
  <div id="caption" class="caption">{{home.selectedOutfit.caption}}</div>
</div>
